input[type="checkbox"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.checkbox {
    display: inline-block;
    height: 23px;
    width: 23px;
    background: #8BB7F099;
    margin-right: 4px;
    border: 1px solid #8BB7F0;
}

.checkbox--active {
    background: #8BB7F099;
}

.label {
    display: flex;
    align-items: center;

    cursor: pointer;
}

.label p {
    margin-left: 13px;
    font-size: 16px;
}