* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Inter, sans-serif;
}

.container {
    max-width: 1355px;
    padding: 0 30px;
    margin: auto;
}

body {
    min-height: 100vh;
}